.relative {
    background-image:url('/images/logo.jpg');
    background-position: center;
}
.text-sc {
    padding: 5px 20px;
    background-color: grey;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.maincont, 
#tab1{
	margin-top: 50px;
	text-align: center;
}
.text-sc {
    padding: 5px 20px;
    background-color: grey;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.buttons {
	background-color: orange;
	border-radius: 3px;
	padding: 2px 15px;
	font-weight: bold;
}

.editbtn {
	color: rgb(17, 143, 228);
	font-weight: bold;
}

.deletebtn {
	color: red;
	font-weight: bold;
}

.tables {
	font-size: 13px;
}

.hed1 {
	height: 20px;
}
.bod1, .foot1 {
	height: 50px;
}

.btn-close {
	font-size: 10px;
}

.deltripbtn {
	color: red;
}

.tripscl {
	width: 100px;
	border-radius: 10px;
	border: none;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	font-size: 12px;
	background-color: rgb(197, 233, 223);
}

.tripscl2 {
	width: 40px;
}

table {
	padding-left: 2px;
	padding-right: 2px;
}

.cc {
	width: 32.6%;
	display: inline-block;
}

#errordiv {
	text-align: center;
	display: none;
}

#succesdiv, #succesdivdelete {
	display: none;
	margin-top: 20px;
}

.btnEdit {
	/* background-color:  rgb(91, 153, 224); */
	color: black;
	padding: 5px;
	border-radius: 3px;
	margin-top: 5px;
	width: 50px;
	font-weight: bold;
}

button {
	text-decoration: none;
	border: 0;
	outline: 0 !important;
}

.deletebtn {
	/* background-color:  rgb(138, 26, 26); */
	color: red;
	padding: 5px;
	border-radius: 3px;
	margin-top: 5px;
	font-weight: bold;
}

.search-input , input:focus {
	/* border-radius: 5px;
	border: 1px solid black; */
	outline-width: 0 !important;
}

.inline-flex {
	border-bottom: none;
	text-decoration: none;
}

.hidden2 {
	margin-left: 0;
	width:70px;
	text-align: center;
}

#tripsidlink {
	padding-left: 15px;
}

#ki {
	color: orange;
}